# long-running services
${project.docker.baseComposeStack}

# executable images, will not start during the runDockerCompose task
testimage:
  image: ${project.project(':testimage').docker.imageId}
  links:
  - service:server
