${project.stackwork.baseComposeStack}

# base compose stack is version 2, zo we need indentation here ... TODO: improve this

  testimage:
    image: ${project.project(':testimage').stackwork.imageId}
    links:
    - service:server
