---
---
body {
    color: #777;
}
header,
footer {
    color: #555;
}
header {
    h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
    h2 {
        font-weight: 300;
        color: #bbb;
        padding: 0;
        margin-top: 0;
    }
}

/*
 * ALIGNMENT CONTENT HEADER FOOTER && SEPARATOR LINE
 */
#content,
.footer-container,
.header-container {
    margin: 0 auto;
    max-width: 800px;
}
header {
    padding: 2.5em 2em 0;
}
footer {
    padding: 0 2em 2.5em;
}
#content {
    padding: 0 2em 1em 2em;
    line-height: 1.6em;
}
footer {
    border-top: 1px solid #eee;
}
header {
    border-bottom: 1px solid #eee;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

a.sitemap-link,
a.sitemap-link:active,
a.sitemap-link:hover,
a.sitemap-link:visited {
    color: #555;
    text-decoration: none;
}
