stubserver:
  image: ${project.findProject(':stubserver').stackwork.imageId}

proxy:
  image: ${rootProject.stackwork.imageId}
  links:
  - stubserver:otherhost

${name}:
  image: ${stackwork.imageId}
  links:
  - proxy:server
